Content/PhotoR_Backgrounds/**
Content/StylizedDesertEnv/**
Content/Environment/WingsWithStool.uasset
Content/SkyBox/**
Content/model/**
Content/Hand_Painted_Starter_Kit/**
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/